* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Netflix-Bold";
  src: url(./NetflixSans-Bold.woff2);
}

@font-face {
  font-family: Netflix;
  src: url(./NetflixSans-Regular.woff2);
}

@font-face {
  font-family: "Netflix-Light";
  src: url(./NetflixSans-Light.woff2);
}

body {
  background: #221f1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.page-width {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  width: 100px;
}

header {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
}

header .avatar {
  width: 35px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  background-size: cover;
  background-position: ce;
}

.carousel-container {
  height: 100%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button-container {
  width: 100%;
  max-width: 1000px;
}

button {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Netflix-Light";
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 0;
}

button:hover {
  background: white;
  color: #221f1f;
}

.box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 100px;
          perspective: 100px;
  gap: 50px;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.box {
  width: 200px;
  height: 200px;
  -webkit-animation: turn-to-circle 2s 1s forwards;
          animation: turn-to-circle 2s 1s forwards;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  border-radius: 5px;
}

.box:hover {
  width: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotateY(0deg) !important;
          transform: rotateY(0deg) !important;
  cursor: pointer;
  border: white 3px solid !important;
  -webkit-box-shadow: 0 0 10px #ffffff;
          box-shadow: 0 0 10px #ffffff;
}

.box:nth-child(1) {
  background: #f40613;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  background: url(./got.webp);
  background-size: cover;
  background-position: center;
}

.box:nth-child(2) {
  background: #f40613;
  background: url(./stranger-things.jpeg);
  background-position: center;
  background-size: cover !important;
  width: 150px;
}

.box:nth-child(3) {
  background: #f40613;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background: url(./big-mouth.jpeg);
  background-size: cover;
  background-position: center;
}

.start {
  background: #f40613 !important;
  border: 0 !important;
  color: white !important;
  background: white !important;
  color: #221f1f !important;
}

.option {
  background: transparent;
  border: solid 1px gray;
  color: gray;
  margin: 10px;
}

.view {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Netflix-Bold;
}

p {
  margin-bottom: 30px;
  color: #d8d8d8;
  font-size: 20px;
  font-family: Netflix-Light;
}
/*# sourceMappingURL=index.css.map */