* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

@font-face {
  font-family: "Netflix-Bold";
  src: url(./NetflixSans-Bold.woff2);
}

@font-face {
  font-family: Netflix;
  src: url(./NetflixSans-Regular.woff2);
}

@font-face {
  font-family: "Netflix-Light";
  src: url(./NetflixSans-Light.woff2);
}

body,html{
  overflow: hidden;
}

body {
  background: #221f1f;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-width {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  width: 100px;
}

header {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background: #221f1f !important;
  z-index: 3;

  .avatar {
    width: 35px;
  }
}

main {
  flex: 1;
  overflow: hidden;
  background-size: cover;
  background-position: center;

}

.carousel-container {
  height: 100%;
  transition: 0.2s ease-in-out;
}

.button-container {
  width: 100%;
  max-width: 1000px;
}
button {
  font-size: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Netflix-Light";
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 0;
  color: #221f1f;

  &:hover {
    background: white;
    color: #f40613 !important;
  }
}

.box-container {
  display: flex;
  perspective: 100px;
  gap: 50px;
  margin-bottom: 50px;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.box {
  width: 200px;
  height: 200px;
  animation: turn-to-circle 2s 1s forwards;
  transition: 1s ease-in-out;
  border-radius: 5px;
  &:hover {
    width: 300px;
    transition: 0.3s;
    transform: rotateY(0deg) !important;
    cursor: pointer;
    border: white 3px solid !important;
    box-shadow: 0 0 10px #ffffff;
  }

  &:nth-child(1) {
    background: #f40613;
    transform: translateX(100%);
    background: url(./got.webp);
    background-size: cover;
    background-position: center;
  }

  &:nth-child(2) {
    background: #f40613;
    background: url(./stranger-things.jpeg);
    background-position: center;
    background-size: cover !important;
    width: 150px;
  }

  &:nth-child(3) {
    background: #f40613;
    transform: translateX(-100%);
    background: url(./big-mouth.jpeg);
    background-size: cover;
    background-position: center;
  }
}

.start {
  background: #f40613 !important;
  border: 0 !important;
  color: white !important;
  background: white !important;
  color: #221f1f !important;
}

.option {
  background: transparent;
  border: solid 1px gray;
  color: gray;
  margin: 10px;
}

.view {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
  margin-bottom: 20px;
  font-family: Netflix-Bold;
  font-weight: normal;

  @media only screen and (max-width: 800px) {
    font-size: 30px;
  }
}

p {
  margin-bottom: 30px;
  color: rgb(216, 216, 216);
  font-size: 20px;
  font-family: Netflix-Light;
}

.recommendation-container{
  height: 500px;
  width: 100%;
  max-width: 400px;
  background: rgb(10, 10, 10);
  border-radius: 5px;
  margin-bottom: 50px;

  h1,p{
  color: white !important;
  }

  .img{
    height: 300px;
    width: 100%;
    background: url('./recommend-bg.webp');
    background-size: cover;
    background-position: center;
    border: 0 !important;
  }
}